    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock title %}</title>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    </head>

    <body>
    <div class="bg-gradient-to-br from-black via-gray-900 to-gray-700 min-h-screen">

    <nav class=" flex items-center justify-left bg-blue-800">
    {%if user.is_authenticated %}

    <a href="{% url 'dashboard' %} " class="px-[1rem] mt-[0.5rem] mb-[0.5rem] text-white">Dashboard</a>

    <a href="{% url 'transaction' %}" class="px-[1rem] mt-[0.5rem] mb-[0.5rem] text-white">Add Transaction</a>

    <a href="{% url 'show' %}" class="px-[1rem] mt-[0.5rem] mb-[0.5rem] text-white">Transactions</a>

    <a href="{% url 'goal' %}" class="px-[1rem] mt-[0.5rem] mb-[0.5rem] text-white">Add Goal</a>

    <form id="logout-form" action="{% url 'logout' %}" method="POST" style="display: inline;">

        {% csrf_token %}

        <a href="#"  onclick="document.getElementById('logout-form').submit();" class="px-[1rem] mt-[0.5rem] mb-[0.5rem] text-white">Logout</a>
    </form>

    {%else %}
        <a href="{% url 'register' %}"> 
        <div class="px-[1rem] mt-[0.5rem] mb-[0.5rem] text-white">Register</div>
        </a>
        <a href="{% url 'login' %}"> 
        <div class="px-[1rem] mt-[0.5rem] mb-[0.5rem] text-white">Login</div>
        </a>
    {%endif %}
        
    </nav>
        {% block content %}{% endblock content %}
        {%if messages %}
        <div id="message-container" class="fixed top-5 left-1/2 transform -translate-x-1/2 w-96 text-align:center">
            {% for message in messages %}
            <div class="bg-{{ message.tags }}-500 text-white p-3 rounded shadow-md mb-2 bg-green-700">Message:{{ message }}
            </div>
            {% endfor %}
        </div>
    {% endif %}

    <script>
        setTimeout(function() {
            let messageContainer = document.getElementById ('message-container');
            if (messageContainer) {
                messageContainer.style.transition = l'opacity 0.5s ease-out";
                messageContainer.style.opacity = "0";
                setTimeout(() => messageContainer.remove(), 500);
            }
        } , 5000);
    </script>
    </body>
    </html>